/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 0%, 5%);
$color__background-body-clip : hsl(0, 60%, 20%);
$color__background-main : hsl(0, 0%, 50%);
$color__background-cours : hsl(0, 0%, 50%);
$color__background-header : hsl(0, 0%, 10%);
$color__background-barre : hsl(0, 60%, 20%);
$color__background-footer : hsl(0, 0%, 5%);
$color__background-link : hsl(202, 100%, 77%);
$color__background-link-hover : hsl(51, 81%, 50%);

/* ---------------- LIENS */
$color__link : hsl(39, 63%, 66%);
$color__link-hover : hsl(0, 50%, 50%);
$color__link-visited : hsl(14, 70%, 75%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(39, 63%, 66%);
$color__link__footer-hover : hsl(0, 50%, 50%);
$color__link__footer-visited : hsl(14, 70%, 75%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(39, 63%, 66%);
$color__link__header-hover : hsl(0, 50%, 50%);
$color__link__header-visited : hsl(39, 63%, 66%);
/* ----------------------- couleur menu footer */
$color__link__footer__menu : #fff;
$color__link__footer__menu-visited : #ddd;
$color__link__footer__menu-hover: hsl(39, 63%, 66%);
$background__link__footer__menu : #444;
$background__link__footer__menu-visited : #555; 
$background__link__footer__menu-hover: #222;
/* ----------------------- couleur menu principal */
$color__link__menu__principal : #0f0;
$color__link__menu__principal-visited : #0d0; 
$color__link__menu__principal-hover : #00f;
$background__link__menu__principal : #ddd;
$background__link__menu__principal-visited: #ccc;
$background__link__menu__principal-hover : #ddd;
/* ----------------------- couleur menu accueil */
$color__link__menu__accueil : #fff;
$color__link__menu__accueil-visited : #fff; 
$color__link__menu__accueil-hover : #fff;
$background__link__menu__accueil : hsl(39, 63%, 66%);
$background__link__menu__accueil-visited: hsl(39, 63%, 66%);
$background__link__menu__accueil-hover : hsl(39, 90%, 76%);

/* ---------------- FONT */
$color__font-header : rgb(214, 216, 228);
$color__font-main :rgb(219, 223, 243);
$color__font-barre : rgb(208, 216, 240);
$color__font-footer : rgb(226, 231, 248);